<IfModule mod_rewrite.c>

RewriteEngine On
RewriteBase /

# Excluir archivos y carpetas específicos
RewriteCond %{REQUEST_URI} !^(index\.php|assets|install|update)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirigir todas las peticiones a index.php
RewriteRule ^(.*)$ index.php/$1 [L,QSA]

</IfModule>
